html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --main-color: #212121;
  --second-color: #757575;
  --white-color: #ffffff;
  --link: #2196f3;
  --bgp: rgba(47, 48, 58, 0.8);
  --bgp-features: #f5f4fa;
  --bgp-footer: #2f303a;
  --black-color: #000000;
}

.body {
  /* font-family: Roboto; */
  /* color: var(--second-color); */
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 215px;
  padding-right: 215px; */
  /* outline: 2px solid red; */
}
.container2 {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
h2,
h3 {
  color: var(--main-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.invisible {
  display: none;
  /* text-indent: -9999px; */
}
/* Header */
.header {
  width: 100%;
}
.studio,
.portfolio,
.contact {
  display: block;
  outline: 2px solid red;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container-header {
  outline: 2px solid red;
  display: flex;
  /* flex-direction: row; */
  /* padding-bottom: 32px; */
}
.header-logo {
  padding-top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  /* identical to box height */
  letter-spacing: 0.03em;
}
.header-logo,
.footer-logo {
  color: var(--link);
}
.logo-studio {
  color: var(--black-color);
}
.logo-studio-footer {
  color: var(--white-color);
}
.n-menu {
  display: flex;
  /* flex-direction: row; */
}
.nav-menu {
  display: flex;
  /* flex-direction: row; */
  /* padding-top: 32px; */
  margin-left: 85px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.section-nav-contact {
  display: flex;
  /* flex-direction: row; */
  /* padding-top: 32px; */
  margin-left: 305px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.nav-menu > li:not(:first-child) {
  margin-left: 50px;
}
.nav-menu-first {
  color: var(--main-color);
}
.nav-menu-first:hover,
.nav-menu-first:focus {
  color: var(--link);
}
.nav-tel {
  margin-left: 30px;
}
.nav-email,
.nav-tel {
  display: block;
  min-width: 142px;
  padding-left: 20px;
  color: var(--second-color);
  padding-top: 32px;
  padding-bottom: 32px;
  outline: 2px solid red;
}
.nav-email {
  min-width: 161px;
  padding-left: 26px;
}
.nav-tel:hover,
.nav-tel:focus {
  color: var(--link);
}
.nav-email:hover,
.nav-email:focus {
  color: var(--link);
}
/* Hero */

.header-backgroup {
  /* padding-top: 32px; */
}
.overlay {
  outline: 2px solid red;
  width: 1600px;
  height: 600px;
  background-image: url(../images/header-img.jpg);
}
.overlay-backgroup {
  height: 600px;
  background-color: rgba(47, 48, 58, 0.8);
}
.content-button-text {
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--link);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: 0px;

  /* identical to box height, or 187% */
  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;

  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.content-button-text:hover,
.content-button-text:focus {
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.25);
}
.content-button-link {
  display: inline-block;
  margin-left: 700px;
  margin-top: 30px;
}
.content-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
  text-align: center;
  color: var(--white-color);
  /* border: 1px solid var(--black-color); */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Features */

.features {
  display: flex;
}

.features > li:not(:first-child) {
  margin-left: 30px;
}
.features h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.features p {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.section-features {
  outline: 2px solid red;
  margin-top: 98px;
}
.features-link {
  display: inline-block;
  padding: 25px 100px;
  background-color: var(--bgp-features);
  border-radius: 4px;
  margin-bottom: 30px;
}
.features-link:hover,
.features-link:focus {
  background-color: var(--link);
}

.features-link {
  background-color: var(--bgp-features);
}
.features-link:hover,
.features-link:focus {
  background-color: var(--link);
}
/* What are we doing */
.section-work {
  outline: 2px solid red;
  margin-top: 94px;
}
.work-desktop,
.work-mobile,
.work-design {
  display: block;
}
.section-work > h2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;

  letter-spacing: 0.03em;

  color: #212121;
}
.work {
  display: flex;
}
.work li {
  margin-top: 50px;
  width: 370px;
}
.work li:not(:first-child) {
  margin-left: 30px;
}
.prof {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  /* width: 370px;
  height: 70px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* align-items: center; */
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  /* margin-top: -74px; */
}

.work-design:hover,
.work-design:focus {
  background-color: var(--link);
  color: var(--black-color);
}
.work-mobile:hover,
.work-mobile:focus {
  background-color: var(--link);
  color: var(--black-color);
}
.work-desktop:hover,
.work-desktop:focus {
  background-color: var(--link);
  color: var(--black-color);
}
/* team */
.section-team {
  width: 100%;
  height: 702px;
  background-color: #f5f4fa;
  margin-top: 94px;
}
.team {
  display: flex;
  margin-top: 50px;
  outline: 2px solid red;
}
.team > li:not(:first-child) {
  margin-left: 30px;
}
.team > li {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.section-team h2 {
  padding-top: 94px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team h3 {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team p {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.team-john:hover,
.team-john:focus {
  background-color: var(--link);
}
.team-marta:hover,
.team-marta:focus {
  background-color: var(--link);
}
.team-robert:hover,
.team-robert:focus {
  background-color: var(--link);
}
.team-martin:hover,
.team-martin:focus {
  background-color: var(--link);
}

/* Clients */

.clients {
  margin-top: 50px;
  display: flex;
}
.clients a {
  display: block;
}
.clients > li:not(:first-child) {
  margin-left: 30px;
}
.section-clients {
  margin-top: 94px;
  outline: 2px solid red;
}
.section-clients > h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.clients a:hover,
.clients a:focus {
  background-color: var(--link);
}

/* Footer */
.footer {
  display: flex;
  margin-top: 94px;
  outline: 2px solid red;
}
.display-footer > a {
  display: block;
  padding-top: 45px;
}
#address > ul {
  margin-top: 8px;
}
#address li:not(:first-child) {
  margin-top: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
#address li:first-child {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */
  letter-spacing: 0.03em;

  color: #ffffff;
}
.join-in > h3 {
  padding-top: 57px;
  margin-left: 69px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.mailing {
  padding-top: 57px;
  margin-left: 94px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/* Second page */
.filter {
  color: var(--main-color);
}
.filter:hover,
.filter:focus {
  color: var(--white-color);
  background-color: var(--link);
}
.hov-text {
  width: 323px;
  height: 168;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--third);
  background-color: var(--link);
}
.main-contant a > p {
  color: var(--second-color);
}

footer {
  background-color: var(--bgp-footer);
}

#address a {
  color: var(--second-color);
}
#address a:hover,
#address a:focus {
  color: var(--link);
}
.index {
  color: var(--white-color);
}

/* social networks */
.social {
  display: flex;
  margin-top: 16px;
}
.social > li {
  width: 44px;
}
.social > li:first-child {
  margin-left: 32px;
}
.social > li:not(:first-child) {
  margin-left: 10px;
}
.social a {
  padding: 12px;

  color: var(--second-color);
}
.social a:hover,
.social a:focus {
  padding: 12px;
  color: var(--white-color);
  background-color: var(--link);
  border-radius: 100px;
}
