html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --main-color: #212121;
  --second-color: #757575;
  --white-color: #ffffff;
  --link: #2196f3;
  --bgp: rgba(47, 48, 58, 0.8);
  --bgp-features: #f5f4fa;
  --bgp-footer: #2f303a;
  --black-color: #000000;
}

.body {
  font-family: "Roboto" sans-serif;
  color: var(--second-color);
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 215px;
  padding-right: 215px; */
  /* outline: 2px solid red; */
}
.container2 {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
h2,
h3 {
  color: var(--main-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.invisible {
  display: none;
  /* text-indent: -9999px; */
}
/* Header */
.header {
}

.container-header {
  outline: 2px solid red;
  display: flex;
  flex-direction: row;
  padding-bottom: 32px;
}
.header-logo {
  padding-top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  /* identical to box height */
  letter-spacing: 0.03em;
}
.header-logo,
.footer-logo {
  color: var(--link);
}
.logo-studio {
  color: var(--black-color);
}
.logo-studio-footer {
  color: var(--white-color);
}
.n-menu {
  display: flex;
  flex-direction: row;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  padding-left: 85px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.section-nav-contact {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  padding-left: 305px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.nav-menu > li:not(:first-child) {
  padding-left: 50px;
}
.nav-menu-first {
  color: var(--main-color);
}
.nav-menu-first:hover,
.nav-menu-first:focus {
  color: var(--link);
}
.nav-tel {
  padding-left: 30px;
}
.nav-email,
.nav-tel {
  color: var(--second-color);
}
.nav-tel:hover,
.nav-tel:focus {
  color: var(--link);
}
.nav-email:hover,
.nav-email:focus {
  color: var(--link);
}
/* Hero */

.header-backgroup {
  /* padding-top: 32px; */
}
.overlay {
  outline: 2px solid red;
  width: 1600px;
  height: 600px;
  background-image: url(../images/header-img.jpg);
}

.content-button-text {
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--link);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: 0px;

  /* identical to box height, or 187% */
  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;

  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.content-button-text:hover,
.content-button-text:focus {
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.25);
}
.content-button-link {
  display: inline-block;
  padding-left: 700px;
  padding-top: 30px;
}
.content-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
  text-align: center;
  color: var(--white-color);
  /* border: 1px solid var(--black-color); */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Features */

.section-features {
  outline: 2px solid red;
}
.features-link {
  background-color: var(--bgp-features);
}
.features-link:hover,
.features-link:focus {
  background-color: var(--link);
}

.features-link {
  background-color: var(--bgp-features);
}
.features-link:hover,
.features-link:focus {
  background-color: var(--link);
}
/* What are we doing */
.section-work {
  outline: 2px solid red;
}
.work-design:hover,
.work-design:focus {
  background-color: var(--link);
}
.work-mobile:hover,
.work-mobile:focus {
  background-color: var(--link);
}
.work-desktop:hover,
.work-desktop:focus {
  background-color: var(--link);
}
/* team */
.section-team {
  outline: 2px solid red;
}
.team-john:hover,
.team-john:focus {
  background-color: var(--link);
}
.team-marta:hover,
.team-marta:focus {
  background-color: var(--link);
}
.team-robert:hover,
.team-robert:focus {
  background-color: var(--link);
}
.team-martin:hover,
.team-martin:focus {
  background-color: var(--link);
}

/* Clients */
.section-clients {
  outline: 2px solid red;
}
.clients a:hover,
.clients a:focus {
  background-color: var(--link);
}

/* Footer */
.footer {
  outline: 2px solid red;
}

/* Second page */
.filter {
  color: var(--main-color);
}
.filter:hover,
.filter:focus {
  color: var(--white-color);
  background-color: var(--link);
}
.hov-text {
  width: 323px;
  height: 168;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--third);
  background-color: var(--link);
}
.main-contant a > p {
  color: var(--second-color);
}

.color-white {
  color: var(--white-color);
}

footer {
  background-color: var(--bgp-footer);
}
.prof {
  background-color: var(--bgp);
}
#address a {
  color: var(--second-color);
}
#address a:hover,
#address a:focus {
  color: var(--link);
}
.index {
  color: var(--white-color);
}

/* social networks */
.social a {
  color: var(--second-color);
}
.social a:hover,
.social a:focus {
  color: var(--white-color);
  background-color: var(--link);
}
